<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <div class="container mt-5">
                <% if (products.length > 0) { %>
                    <% products.forEach(p => { %>
                <div class="card mb-3 mt-3">
                        <div class="row no-gutters">
                          <div class="col-md-2">
                            <img src="https://www.bitdegree.org/tutorials/wp-content/uploads/2018/08/what-is-a-web-developer.jpg" class="card-img" alt="..." style="max-width: 160px">
                          </div>
                          <div class="col-md-10">
                            <div class="card-body" style="display: flex;justify-content:space-between">
                                        <h5 class="card-title"><%= p.productId.title %></h5>
                                        <h5 class="font-weight-bold text-right">Rs. 1</h5>
                                        <form action="/cart-delete-item" method="POST">
                                            <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn" type="submit">X</button>
                                        </form>
                               </div>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                      <div class="col-md-12">
                            <hr>
                            
                                <form action="/create-order" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn text-right">Order Now!</button>
                                </form>
                           
                    </div>
                      <% } else { %>
                        <h1>No Products in Cart!</h1>
                    <% } %>   
                    
        </div>
        <%- include('../includes/end.ejs') %>